body {
    background-color: rgb(73, 83, 94);
    font-family: 'Gambetta', serif;
    color: #fff;
    margin: 0;
}

h1 {
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
    background-color:  #000;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    font-style: oblique;
    border:10px rgb(247, 219, 149);
    border-style: dotted ;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gold,
    3px 3px 6px gold,
    3px 3px 10px gold,
    3px 3px 14px gold,
    3px 3px 18px gold,
    3px 3px 22px gold;
    font-weight: bold;
    color: #FFF;
    padding: 1.10vw;
    text-align: center;
  }
  li::marker {
    content: "🍻"
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  a:link {
     text-decoration: none; 
    }
    
  a{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.topnav{
  background-color: #000;
  opacity: 0.8;
  width: 20%;
  word-spacing: 50px;
  text-align:center;
  font-family: 'Gambetta', serif;
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1.25em;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  overflow: auto;
}

h3{
  font-family: 'Gambetta', serif;
  padding-top:50px;

  margin: 2em;
}

footer{
  color: #fff;
  background-color: #000;
  opacity: .8;
  font-family: 'Gambetta', serif;
  font-weight: bold;
  font-style: oblique;
  font-size:1.2vw;
  text-align:center;
  margin-top:15vh;
  padding: 50px;
}
.glass-1 {
  animation-name: wave-animation2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  transform: scale(-1,1);
}
.glass-2 {
  animation-name: wave-animation1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation1 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate( 14.0deg) }
 20% { transform: rotate( -8.0deg) }
 30% { transform: rotate( 7.0deg) }
 40% { transform: rotate( -4.0deg) }
 50% { transform: rotate( 10.0deg) }
 60% { transform: rotate( -4.0deg) }
 70% { transform: rotate( 10.0deg) }
 80% { transform: rotate( -8.0deg) }
 90% { transform: rotate( 10.0deg) } 
 100% { transform: rotate( 0.0deg) }
}
@keyframes wave-animation2 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate( -14.0deg) }
 20% { transform: rotate( 8.0deg) }
 30% { transform: rotate( -7.0deg) }
 40% { transform: rotate( 4.0deg) }
 50% { transform: rotate( -10.0deg) }
 60% { transform: rotate( 4.0deg) }
 70% { transform: rotate( -10.0deg) }
 80% { transform: rotate( 8.0deg) }
 90% { transform: rotate( -10.0deg) } 
 100% { transform: rotate( 0.0deg) }
}

#drink-up {
  width: 100vw;
  margin-top: 20px;
}

.photo-credit {
  text-align: right;
  margin-right: 10px;
}