body {
    background-color: rgb(73, 83, 94);
    font-family: 'Gambetta', serif;
    color: #fff;
    margin: 0;
}

h1 {
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
    background-color:  #000;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    font-style: oblique;
    border:10px rgb(247, 219, 149);
    border-style: dotted ;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gold,
    3px 3px 6px gold,
    3px 3px 10px gold,
    3px 3px 14px gold,
    3px 3px 18px gold,
    3px 3px 22px gold;
    font-weight: bold;
    color: #FFF;
    padding: 1.10vw;
    text-align: center;
  }
  li::marker {
    content: "🍻"
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  a:link {
     text-decoration: none; 
    }
    
  a{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
.topnav{
  background-color: #000;
  opacity: 0.8;
  width: 20%;
  word-spacing: 50px;
  text-align:center;
  font-family: 'Gambetta', serif;
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1.25em;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  overflow: auto;
}

#summary {
  font-family: 'Gambetta', serif;
  padding-top:50px;
  width:50%;
  text-align:center;
  font-size: 200%;
  margin: auto;
}

table{
 color:rgb(255, 255, 255);
 text-align:center;
 margin:auto;
 width:50%;
 font-size:1.5vw;
}

footer{
  color: #fff;
  background-color: #000;
  opacity: .8;
  font-family: 'Gambetta', serif;
  font-weight: bold;
  font-style: oblique;
  font-size:1.2vw;
  text-align:center;
  margin-top:15vh;
  padding: 50px;
}
.glass-1 {
  animation-name: wave-animation2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  transform: scale(-1,1);
}
.glass-2 {
  animation-name: wave-animation1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation1 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate( 14.0deg) }
 20% { transform: rotate( -8.0deg) }
 30% { transform: rotate( 7.0deg) }
 40% { transform: rotate( -4.0deg) }
 50% { transform: rotate( 10.0deg) }
 60% { transform: rotate( -4.0deg) }
 70% { transform: rotate( 10.0deg) }
 80% { transform: rotate( -8.0deg) }
 90% { transform: rotate( 10.0deg) } 
 100% { transform: rotate( 0.0deg) }
}
@keyframes wave-animation2 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate( -14.0deg) }
 20% { transform: rotate( 8.0deg) }
 30% { transform: rotate( -7.0deg) }
 40% { transform: rotate( 4.0deg) }
 50% { transform: rotate( -10.0deg) }
 60% { transform: rotate( 4.0deg) }
 70% { transform: rotate( -10.0deg) }
 80% { transform: rotate( 8.0deg) }
 90% { transform: rotate( -10.0deg) } 
 100% { transform: rotate( 0.0deg) }
}

#drink-up {
  display: flex;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.photo-credit {
  text-align: right;
  margin-right: 75px;
}

table, th, td {
  border:1px solid rgb(255, 255, 255);
}

/* possible to make the image of the movie come up and the drink so its like
/* [PIC] | [PIC] BOX format? 
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Fill_a_box_with_an_image 
/* movie posters 
/* DD= https://m.media-amazon.com/images/M/MV5BZjZlZDlkYTktMmU1My00ZDBiLWFlNjEtYTBhNjVhOTM4ZjJjXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg 
/* LIT = https://www.liquor.com/thmb/oUB-ms9XWSaAhG3-YEcmx4beXXs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__liquor__2019__03__14090749__Long-Island-Iced-Tea-720x720-article-272623f47e80457594178a552f708068.jpg
/* create a table --> within table, images placed 
/* set images to 300x400 
