body {
  height: 100%;
  background-image: url(images/theater\ background.jpg);
  background-repeat: space;
  background-size: cover;
  background-position: center;
    background-color: rgb(73, 83, 94);
    font-family: 'Gambetta', serif;
    color: #FFF;
    margin: 0;
}

.container-div{
    margin-top: 1em;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  
  #banner {
    width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
      background-color:  #000;
      font-size: 4em;
      text-transform: uppercase;
      font-family: 'Gambetta', serif;
      font-style: oblique;
      border:10px rgb(247, 219, 149);
      border-style: dotted ;
      border-radius: 5px;
      box-shadow: 3px 3px 3px gold,
      3px 3px 6px gold,
      3px 3px 10px gold,
      3px 3px 14px gold,
      3px 3px 18px gold,
      3px 3px 22px gold;
      font-weight: bold;
      color: #FFF;
      padding: 1.10vw;
      text-align: center;
    }
  .desc {
    background-color: #000;
    opacity: 0.8;
    width: 90%;
    font-size: 150%;
    color:white;
    font-family: 'Gambetta', serif;
    text-align:center;
    display:flex;
    border:1px azure solid;
    margin-top: 4lvb;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
/*  */
  a:link {
    text-decoration: none;
}
a{  
    font-size:  1em;
    color:#FFF;
    font-weight: bold;
}

.topnav{
  opacity: 0.8;
  background-color: #000;
  opacity: 0.8;
  width: 20%;
  word-spacing: 20px;
  text-align:center;
  font-family: 'Gambetta', serif;
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1.25em;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
#formDiv {
    margin-top: 1em;
}
#title {
  display: block;
    margin-top: .5em;
    color: #FFF;
    font-size: 3lvb;
}
#movieInput {
    width: 20em;
    text-align: center;
    line-height: 1;
    width: 25em;
    height: 2.25em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}
#movieForm {
    display: flex;
    justify-content: center;
    font-family: 'Gambetta', serif;
    text-align:center;
    

}
#submit {
  background-color: red;
  color:#FFF;
    margin-top: em;
    width: 10em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    border-radius: 5px;
}
#submit:hover {
    background-color: white;
    color: red;
    box-shadow: 2px 2px 2px red;
}

footer{
  color: #fff;
  background-color: #000;
  opacity: .8;
  font-family: 'Gambetta', serif;
  font-weight: bold;
  font-style: oblique;
  font-size:1em;
  text-align:center;
  margin-top:15vh;
  padding: 50px;
}
#results {
  width: 100%;
  height: auto;
  display: flex;
  color:white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  color: white;
  font-size: 1.25em;
}
#movieList {
  border: 4px inset goldenrod;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  list-style: none;
  color: #fff;
  margin-bottom: 2em;
}
/* added border and separation of the drinkDiv and movieDiv to add description of both after search */
#drinkDiv {
  background-color: #000;
  width: 45%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 border: 4px inset rgb(250, 79, 107);
 border-radius: 10px 10px 5px 5px;
 text-align: center;
}
#movieDiv {
  background-color: #000;
  width: 45%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 4px inset gold;
  border-radius: 10px 10px 5px 5px;
  text-align: center;
}
#movieTitle{
    background-color: #000;
    text-align: center;
    font-size: 150%;
    border:10px rgb(243, 230, 199);
    border-style: dotted ;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 3px 3px 3px gold,
    3px 3px 6px gold,
    3px 3px 10px gold,
    3px 3px 14px gold,
    3px 3px 18px gold,
    3px 3px 18px gold,
    3px 3px 18px gold,
    3px 3px 22px gold;
    font-weight: bold;
    color: #FFF;
    padding: .5em;
    text-align: center;
}
#drinkTitle {
  background-color: #000;
  text-align: center;
  font-size: 150%;
  border:10px rgb(247, 157, 172); 
  border-style:double;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px rgb(250, 79, 107),
  3px 3px 6px rgb(250, 79, 107),
  3px 3px 10px rgb(250, 79, 107),
  3px 3px 14px rgb(250, 79, 107),
  3px 3px 18px rgb(250, 79, 107),
  3px 3px 18px rgb(250, 79, 107),
  3px 3px 18px rgb(250, 79, 107),
  3px 3px 22px rgb(250, 79, 107);
  font-weight: bold;
  color: rgb(255, 244, 246);
  text-shadow: 1px 1px rgb(250, 79, 107),
  1px 1px rgb(250, 79, 107),
  1px 1px rgb(250, 79, 107),
  1px 1px rgb(250, 79, 107);
  padding: .5em;
  text-align: center;
}
#drinkImg {
  width: 200px;
  height: 300px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  /* height: fit-content; */
}
#movieImg {
  width: 200px;
  height: 300px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding:1%;
}
#searchHistoryTitleDiv {
  margin-top: 2em;
  margin-left:auto;
  margin-right: auto;
  vertical-align: center;
}
#searchHistoryDiv{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
}
#searchHistoryDiv button {
  background-color: #000;
  opacity: 0.8;
  display: inline;
  font-size: 2em;
  padding-left: .5em;
  padding-right: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
  margin-top: 2em;
  border: 3px inset rgb(179, 181, 182);
  border-radius: 5px;
}
#searchHistoryDiv button:hover {
  background-color: #FFF;
  color: rgb(73, 83, 94);
}
#recipeDiv {
  /* width: 40%; */
  /* opacity: .5; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 1em; */
  border-top: 4px inset rgb(250, 79, 107);
  margin-bottom: 2em;
  vertical-align: center;
  color: #FFF;
  background-color: black;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
}
p {
  width: 100%;
  font-size: 150%;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  text-align: center;
}
.plot {
  width: 100%;
  margin-top: 1.em;
  font-size: 150%;
  color: #FFF;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  text-align: center;
  border-top: 4px inset gold;

}
#ins.text-base{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}
#ingr {
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
}
.glass-1 {
    animation-name: wave-animation2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    transform: scale(-1,1);
  }
.glass-2 {
    animation-name: wave-animation1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
@media screen and (max-width: 768px) {
  #results{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  #movieDiv, #drinkDiv {
    width: 100%;
  }
  #searchHistoryDiv button {
    display: inline;
    font-size: 150%;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: .5em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 3px inset rgb(179, 181, 182);
    border-radius: 5px;
  }
  #formDiv {
    width: 100%;
    margin-top: 1em;
}
  #movieInput {
    width: 90%;
    text-align: center;
    line-height: 1;
    height: 2.25em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}
#submit {
  background-color: red;
  color:#FFF;
    width: 50%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    border-radius: 5px;
}
#submit:hover {
    background-color: white;
    color: red;
    box-shadow: 2px 2px 2px red;
}
#banner {
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
    background-color:  #000;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    font-style: oblique;
    border:10px rgb(247, 219, 149);
    border-style: dotted ;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gold,
    3px 3px 6px gold,
    3px 3px 10px gold,
    3px 3px 14px gold,
    3px 3px 18px gold,
    3px 3px 22px gold;
    font-weight: bold;
    color: #FFF;
    padding: 1.10vw;
    text-align: center;
  }
}
  @keyframes wave-animation1 {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate( 14.0deg) }
   20% { transform: rotate( -8.0deg) }
   30% { transform: rotate( 7.0deg) }
   40% { transform: rotate( -4.0deg) }
   50% { transform: rotate( 10.0deg) }
   60% { transform: rotate( -4.0deg) }
   70% { transform: rotate( 10.0deg) }
   80% { transform: rotate( -8.0deg) }
   90% { transform: rotate( 10.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }
  @keyframes wave-animation2 {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate( -14.0deg) }
   20% { transform: rotate( 8.0deg) }
   30% { transform: rotate( -7.0deg) }
   40% { transform: rotate( 4.0deg) }
   50% { transform: rotate( -10.0deg) }
   60% { transform: rotate( 4.0deg) }
   70% { transform: rotate( -10.0deg) }
   80% { transform: rotate( 8.0deg) }
   90% { transform: rotate( -10.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }

