body {
    background-color: rgb(73, 83, 94);
    font-family: 'Gambetta', serif;
    color: #FFF;
    margin: 0;
}

.container {
  float: center;
    margin-top: 9em;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  h1 {
    width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
      background-color:  #000;
      font-size: 4em;
      text-transform: uppercase;
      font-family: 'Gambetta', serif;
      font-style: oblique;
      border:10px rgb(247, 219, 149);
      border-style: dotted ;
      border-radius: 5px;
      box-shadow: 3px 3px 3px gold,
      3px 3px 6px gold,
      3px 3px 10px gold,
      3px 3px 14px gold,
      3px 3px 18px gold,
      3px 3px 22px gold;
      font-weight: bold;
      color: #FFF;
      padding: 1.10vw;
      text-align: center;
    }
  p {
    width: 90%;
    font-size: 2em;
    color:white;
    font-family: 'Gambetta', serif;
    text-align:center;
    display:flex;
    border:1px azure solid;
    margin-top: 4lvb;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
h3{
    color: black;
}
  a:link {
    text-decoration: none;
}

a{  
    font-size:  1em;
    color:#FFF;
    font-weight: bold;
}
img{
    width: 100%
}

.topnav{
  background-color: #000;
  opacity: 0.8;
  width: 20%;
  word-spacing: 50px;
  text-align:center;
  font-family: 'Gambetta', serif;
  border-radius: 5px;
  margin-top: 1.5em;
  font-size: 1.25em;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  overflow: auto;
}
#resultsDiv {
    margin-top: 1em;
}
#title {
  display: block;
    margin-top: 5em;
    color: #FFF;
    font-size: 3lvb;
}
#movieInput {
    width: 20em;
    text-align: center;
    line-height: 1;
}
#movieForm {
    display: flex;
    justify-content: center;
    font-family: 'Gambetta', serif;
    text-align:center;

}
#submit {
    margin-top: 2em;
}
#submit:hover {
    background-color: white;
    color: red;
    box-shadow: 2px 2px 2px red;
}
footer{
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Gambetta', serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 1.5em;
  margin-top: 8em;
  padding: 50px;
}
#results {
  color:white;
  flex-direction: row;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  color: white;
  font-size: 1.25em;
}
#movieList {
  list-style: none;
  color: #fff;
  margin-bottom: 15em;
 
}
#drinkTitle {
    color:#FFF;
    text-align: center;
}
#movieTitle {
  color: #FFF;
  text-align: center;
}
#drinkImg {
  margin-left: 1em;
}
#movieImg {
  margin-left: auto;
  width: 150px;
}
.glass-1 {
    animation-name: wave-animation2;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    transform: scale(-1,1);
  }
.glass-2 {
    animation-name: wave-animation1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  @keyframes wave-animation1 {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate( 14.0deg) }
   20% { transform: rotate( -8.0deg) }
   30% { transform: rotate( 7.0deg) }
   40% { transform: rotate( -4.0deg) }
   50% { transform: rotate( 10.0deg) }
   60% { transform: rotate( -4.0deg) }
   70% { transform: rotate( 10.0deg) }
   80% { transform: rotate( -8.0deg) }
   90% { transform: rotate( 10.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }
  @keyframes wave-animation2 {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate( -14.0deg) }
   20% { transform: rotate( 8.0deg) }
   30% { transform: rotate( -7.0deg) }
   40% { transform: rotate( 4.0deg) }
   50% { transform: rotate( -10.0deg) }
   60% { transform: rotate( 4.0deg) }
   70% { transform: rotate( -10.0deg) }
   80% { transform: rotate( 8.0deg) }
   90% { transform: rotate( -10.0deg) } 
   100% { transform: rotate( 0.0deg) }
  }